<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=LAPTOP-G4OVP1BV\SQLEXPRESS;Database=Parametrization;User Id=admin;Password=123;"/>
	</connectionStrings>
</configuration>